- name: Install zsh
  apt: name=zsh
  tags: zsh

- name: Change shell to zsh
  shell: chsh -s $(which zsh)
  tags: zsh

- name: oh-my-zsh
  shell: curl -L https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh > ~/.oh-my-installer && chmod +x ~/.oh-my-installer && ~/.oh-my-installer
  tags: zsh

- name: Install zsh-autosuggestions
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-autosuggestions.git'
    dest: '~/.oh-my-zsh/custom/plugins/zsh-autosuggestions'
  tags: zsh

# - name: Install zsh-z
#   ansible.builtin.git:
#     repo: 'https://github.com/zsh-users/zsh-autosuggestions.git'
#     dest: '~/.oh-my-zsh/plugins/zsh-autosuggestion'
#   tags: zsh

